# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
audio_env/
venv/
env/

# Data files (VERY IMPORTANT)
data/
uploads/

# Large input files
app/modules/audio/data/input_video/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# HuggingFace cache (optional)
.cache/app/modules/audio/audio_env/
